<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengh.db.mapper.GoodsMapper">

    <select id="getById" parameterType="long" resultType="com.chengh.db.entity.Goods">
        select * from t_goods where id = #{id}
    </select>

</mapper>